<div class="card" style="margin-top:10px;">
    <div class="card-body">
        <div class="float-start">
            <h6>Перемещение элемента</h6>
            <b>{[ELEMENT_NAME]}</b>
        </div>
        <div class="float-end d-inline-flex" style="margin-top:6px;">
            <form method="POST" action="../kernel/element.php">
                <input type="hidden" name="MovedElementSectionUUID" value="{[SECTION_UUID]}"/>
                <input type="submit" class="btn btn-outline-success" value="Переместить сюда"/>
            </form>
            <form method="POST" action="../kernel/element.php">
                <input type="submit" class="btn btn-outline-primary" style="margin-left:10px;" name="CancelMoveElement" value="Отменить перемещение"/>
            </form>
        </div>
    </div>
</div>


