<tr>
    <td style="vertical-align: middle;width:1px;">
        <i class="bi bi-file" style="font-size: 2rem;"></i>
    </td>
    <td style="vertical-align: middle;">
        <a href="/?page=elements&element_uuid={[ELEMENT_UUID]}"><h6>{[ELEMENT_NAME]}</h6></a>
    </td>
    <td style="vertical-align: middle;white-space: nowrap;align-items: center;width:1px;"><em>{[ELEMENT_CREATED]}</em></td>
    <td style="vertical-align: middle;white-space: nowrap;align-items: center;width:1px;"><em>{[ELEMENT_UPDATED]}</em></td>
    <td style="vertical-align: middle;white-space: nowrap;align-items: center;width:1px;"><em>{[ELEMENT_TYPE]}</em></td>
    <td style="vertical-align: middle;align-items: center;width:1px;">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/?page=elements&element_uuid={[ELEMENT_UUID]}" class="btn btn-sm btn-outline-primary mr-1">Изменить</a>
            <form method="POST" action="../kernel/element.php">
                <input type="hidden" name="MoveElementUUID" value="{[ELEMENT_UUID]}">
                <input type="submit" class="btn btn-sm btn-outline-success" value="Переместить"/>
            </form>
            <form method="POST" action="../kernel/element.php">
                <input type="hidden" name="RemoveElementUUID" value="{[ELEMENT_UUID]}">
                <input type="submit" class="btn btn-sm btn-outline-danger" value="Удалить"/>
            </form>
        </div>

    </td>
</tr>

